.registration_container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration_form{
    width: 50vw;
}

.registration_user_type_selection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}